.profile__info {
    max-width: 50%;
    margin: 22px 0 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:767px) {
    .profile__info {
        max-width: 100%;
       justify-content: center;
       margin: 0 0 8px 0;
    }    
}