.info-tooltip__close-button {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../../../images/CloseIcon.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    cursor: pointer;
    transition: opacity .5s linear;
    position: absolute;
    top: -40px;
    right: -40px;
}